
/* links */

	a {
		color: black;
		text-decoration: none;
	}

	a:hover {
		color: #3A8891;
		text-decoration: underline;
	}

/* header */

	@font-face {
			font-family: MagicRetro;
			src: url(magicretro/MagicRetro.ttf);
		}

	@font-face {
		font-family: Romelio;
		src: url(romelio_sans/Romelio.ttf);
	}

	#header {
		background-color: #FFEFD6;
		width: 1200px;
		height: 300px;
		margin: 0 auto;
	}

	h1 {
		font-family: MagicRetro, sans-serif;
	}

	h2 {
		padding-left: 10px;
		padding-top: 10px;
	}

	h3 {
		font-family: Romelio, sans-serif;
	}

	h3 {
		text-align: center;
		padding-top: 70px;
	}

	#title {
		background-color: #FFEFD6;
		width: 1200px;
		height: 100px;
		margin: 0 auto;
		text-align: center;
		line-height: 100px;

	}

	#insta {
		width: 20px;
		height: 20px;
		position: relative;
		bottom: 56px;
		padding-left: 30px;

	}

	#button2 {
		float: right;
		margin: 0px 30px;
		position:  relative;
		bottom: 56px;
		background-color: #FFEFD6;
		padding: 10px;
	}

/* navigation bar */

	#label-bar {
		background-color: #FFEFD6;
		width: 1200px;
		height: 40px;
		margin: 0 auto;
		padding: 0px;
	}

	#label {
		width: 520px;
		margin: 0 auto;
		color: black;
	}

	#label ul {
		position: absolute;
		padding: 0;
		height: 40px;
		background-color: #FFEFD6;
		margin: 0 auto;
		color: black;

	}

	#label li {
		padding: 0;
		margin: 0 auto;
		margin: 0px;
		line-height: 40px;
		background-color: #FFEFD6;
		font-size: 15px;
		font-weight: none;
		display: inline-block;
		text-align: center;
		color: black;
		width: 100px;
	}

	#label li:hover {
		text-decoration: underline;
		color: black;
	}

	#label a.active {
		color: black;
		
	}

	#label ul ul {
		visibility: hidden;
		font-size: 10px;
	}

	#label li:hover > ul {
		visibility: visible;
		color: black;
	}

	#label li {
		float: left;
		text-align: center;
		position: relative;
	}

	.nav {
		font-size: 11px;
	}

/* body */

	#container {
		background-color: #F2DEBA;
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 10px 0px;
	}

	.thumbnail {
		width: 300px;
		height: 300px;
		float: left;
		padding: 10px;
		overflow: hidden;
		text-align: center;
		padding-top: 18px;
	}

	.location {
		width: 300px;
		display: inline-block;
		text-align: center;
		padding: 10px;
	}

	.location p {
		font-size: 30px;
		font-weight: bold;

	}

	#review {
		margin: 0 auto;
		width: 1000px;
	}

/* best of ... */

	#line {
		background-color: #0E5E6F;
		width: 90px;
		height: 10px;
		border-bottom-right-radius: 6px;
		border-top-right-radius: 6px;
		margin-bottom: 5px;
	}

	h5 {
		padding: 0px 5px;
		margin: 3px;
		margin-top: 50px;
		font-family: Open Sans, sans-serif;
	}

	#donuts img {
		width: 530px;
		height: 350px;
		padding-left: 10px;

	}

	#donuts {
		display: inline-block;
	}

	#donuts h4 {
		margin: 0px;
		padding-left: 10px;
		font-size: 30px;
		width: 420px;
	}

	#donuts p {
		padding-left: 10px;
		\margin: 0px;
		font-size: 11px;
	}

	#donuts{
		width: 540px;
		margin-top: 10px;
	}

	#dinner {
		width: 210px;
		display: inline-block;
		position: relative;
		bottom: 85px;
		margin-left: 5px;
	}

	#dinner img {
		width: 200px;
		height: 240px;
		
	}

	#dinner h4 {
		font-weight: bold;
		font-size: 15px;
		margin: 0px;
		color: black;
	}

	#dinner p {
		margin-top:  3px;
		font-size: 10px;
	}


	#chick img {
		width: 320px;
		height: 320px;
	}

	#chick {
		position: relative;
		display: inline-block;
		bottom: 20px;
		width: 340px;
	}

	#chick h4 {
		margin: 0px;
		color: black;
		font-size: 30px;
	}

	#chick p {
		font-size: 11px;
		margin-top: 3px;
	}

	#breakfast img {
		width: 270px;
		height: 270px;
	}

	#breakfast {
		position: relative;
		display: inline-block;
		width: 290px;
		bottom: 90px;
		left: 470px;
	}

	#breakfast h4 {
		margin: 0px;
		color: black;
		font-size: 20px;
	}

	#breakfast p {
		font-size: 11px;
		margin-top: 3px;
	}

	#bestla h4:hover {
		color: #3A8891;
		text-decoration: underline;
	}

	#bestla h4 {
		font-family: Open Sans, sans-serif;
	}

	/* button */


	#subscribe {
		text-align: center;
		margin: 0 auto;
		font-size: 15px;
		background-color: #FFEFD6;
		padding: 15px;
		margin: 10px;
	}

	#submit {
		padding: 10px;
		text-decoration: none;
		color: black;
		background-color: #FFEFD6;
		border: 2px solid black;
		font-weight: bold;
	}

	/* recipe info */

	.foodimg {
		width: 180px;
		height: 200px;
		overflow: hidden;
		padding: 8px;
		margin: 0 auto;
	}

	.info {
		width: 180px;
		height: 200px;
		display: inline-block;
		text-align: center;
		padding: 5px;
		margin: 0 auto;
	}

	.info p {
		font-size: 15px;
	}

	#recipe {
		width: 1000px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.clearfloat {
		clear: both;
	}

	.vertical {
		width: 200px;
		height: 200px;
	}

/* navigation bar for specific locations */

	#navbar {
		width: 1200px;
		background-color: #F2DEBA;
		height: 40px;
		margin: 0 auto;
		padding: 0px;
	}

	#nav {
		width: 1200px;
		margin: 0 auto;
		color: black;
		display: inline-block;
		padding: 0px;
	}

	#nav li {
		padding: 0;
		margin: 0 auto;
		margin: 0px;
		line-height: 40px;
		background-color: #F2DEBA;
		font-size: 20px;
		font-weight: none;
		display: inline-block;
		text-align: center;
		color: black;
		width: 370px;
	}

/* top picks for specific locations */

	#rest1 {
		height: 280px;
		width: 1200px;
		padding: 10px 0px;
	}

	#rest1 img {
		width: 300px;
		height: 270px;
		float: left;
		padding: 0px 20px;
	}

	#rest2 {
		height: 300px;
		width: 1200px;
		padding: 10px 0px;
	}

	#rest2 img {
		width: 300px;
		height: auto;
		overflow: hidden;
		padding:  0px 20px;
	}

	#top h4 {
		padding-left: 10px;
		font-size: 20px;
		margin: 15px 0px 0px 0px;
	}

	#top p {
		padding: 10px;
	}

	#restinfo p {
		margin: 0px;
		padding-left: 20px;
	}

/* footer */

	#footer {
		width: auto;
		background-color: #FFEFD6;
	}

/* responsive web design */

@media (max-width: 767px){ 
		{

		padding-top: 0px;
		
		}

		.column1 {
		

		}

		.column2 {



		}
	}
